.sidebar-menu-item:hover::before, .sidebar-menu-item.active::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #DC2626;
    bottom: -10px;
    height: 8px;
    content: '';
    width: 8px;
    left: 50%;
  }